:root {
    --primary: #16a34a;
    --secondary: #f0fdf4;
    --accent: #166534; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(87, 87, 87);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of reset*/

.wrapper {
    display: grid;
    grid-template-columns: minmax(100px, 250px) minmax(500px, 5fr);
    grid-template-rows: 1fr auto;
    border: 1px solid black;
    /* height: 90vh;
    width: 90vw; */
}
.header {
    grid-column: 2 /-1;
    grid-row: 1;
    display: grid;
    grid-template-rows: minmax(40px, 60px) minmax(40px, 70px);
    box-shadow: 0px 8px 5px rgba(75, 75, 75, 0.466);
    gap: 10px;
    position: relative;
    z-index: 1;
    padding: 10px 30px;
    color: black;
}
.header>div{
    display:grid;
    gap: 30px;
}
.header>.top {
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: minmax(300px,auto) minmax(200px, 300px);
}
.header>.bottom {

    /* grid-template-columns: 400px minmax(300px, 400px); */
    grid-template-columns: minmax(300px, 400px) minmax(200px, 400px);
    justify-content: space-between;
}
.top>.search{
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
}
.search>input {
    background-color: var(--secondary);
    border-radius: 16px;
    border-width: 0px;
    min-height: 28px;
}

.top>.account{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap:5px;
    align-items: center;
    justify-items: right;
}
.icon {
    height: 18px;
    width: 18px;
}
.small {
    height:40px;
    width: 40px;
}
.large {
    height: 64px;
    width: 64px;
}
.name {
    font-weight: bolder;
}
.welcome {
    display:grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.greeting {
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.message {
    font-size: .8rem;
    font-weight: bolder;
}
.user {
    font-weight: bolder;
    font-size: 1.2rem;
}
.sidebar {
    grid-row: 1 / -1;
    grid-column: 1;
    background-color: var(--primary);
    color: white;
    gap: 20px;
    display: grid;
    grid-template-rows: 80px 250px 250px;
    padding: 20px 10px;
    align-items: start;
}
.main-content {
    background-color:var(--secondary);
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 20px;
    padding: 10px 20px;
}
.projects>.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
}
.projects{
    grid-row: 1 / -1;
}
.card {
    border-radius: 8px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.349);
    background-color: white;
     min-height: 150px; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 20px;
    gap: 4px;
}
.projects .card .title {
    font-size: .9rem;
}

.projects .card {
    border-left: 4px solid var(--accent);
    font-size: .8rem;
}

.actions {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: center;

}
button {
    background-color: var(--primary);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px;
    border-width: 0px;
    


}
.sidebar p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0px;
}
.sidebar>div.section{
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px 5px;
}
.sidebar>div:first-child{
    display:grid;
    grid-template-columns: 50px auto;
    align-items: center;
    gap: 5px;
}
.sidebar .icon, .sidebar .small {
    fill: white;
}
.trending>.container {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap:16px 0px;
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.349);
    border-radius: 7px;
    align-items: center;
    
}
.trending>.container>div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap:0px 16px;
    background-color: white;
    align-items: center;
    font-size: .8rem;
    
}
.trending>.container>div>div>p {  
    padding:2px
}
.announcements>.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap:4px;
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.349);
    border-radius: 7px;
    font-size: .7rem;
}
.announcements>.container>div {
    display: grid;
    gap: 3px;
    grid-template-rows: auto 1fr;
    background-color: white;
    padding: 8px 0px 0px 0px;
    border-top: 1px solid var(--secondary);
}

.announcements>.container>div:first-child {
    border-top: 0px;
    padding: 0px
}

.title {
    font-weight: bold;
    color: black;
}
.sidebar .title {
    grid-column: 1 / -1;
    border-bottom: 1px solid white;
    padding: 5px;
    color: white;
}

.trending>.title, .announcements>.title, .projects>.title {
    font-size: 1.2rem;
    padding: 20px 0px;
}

.card-actions {
    display: flex;
    justify-items: flex-end;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:end;
    align-self:end;
}
.card-actions>.icon {
    padding: 5px;
}